<section class="leaders">
  <div class="container mb-4">
    <div class="d-flex gap-2 align-items-center mt-4 mb-3">
      <div class="leader-icon">
        <img src="@img/lider-icon.svg" alt="icon">
      </div>
      <h1 class="title-2 fw-semibold mb-0 mt-0">Лидеры</h1>
    </div>

    <span class="color-neutral-300 fz-14">Тексто про то, что кто больше выиграл</span>
  </div>

  <div class="run leaders-run d-flex gap-2 align-items-center">

    <div class="run-content">
      <div class="d-flex person-wins-list">

        <div class="d-flex align-items-center gap-1 person-wins-item">
          <div class="d-flex align-items-center person">
            <img src="@img/avatar.jpg" alt="image" class="person-icon">
            <span>@gavril</span>
          </div>
          <span class="color-neutral fz-14">выиграл</span>
          <span class="fw-semibold fz-14 color-primary-200">200$</span>
        </div><!-- /person-wins-item -->

        <div class="d-flex align-items-center gap-1 person-wins-item">
          <div class="d-flex align-items-center person">
            <img src="@img/avatar.jpg" alt="image" class="person-icon">
            <span>@gavril</span>
          </div>
          <span class="color-neutral fz-14">выиграл</span>
          <span class="fw-semibold fz-14 color-primary-200">1200$</span>
        </div><!-- /person-wins-item -->

      </div>
    </div>
  </div>

  <div class="container">

    <div class="d-flex align-items-center justify-content-between gap-3 leader-item">
      <div class="d-flex align-items-center gap-3">
        <span class="leader-item-count">#1</span>
        <div class="leader-item-img">
          <img src="@img/leader-person.png" alt="image">
        </div>
        <span class="fz-14">name</span>
      </div>
      <span class="leader-item-price">30000000</span>
    </div>

    <div class="d-flex align-items-center justify-content-between gap-3 leader-item">
      <div class="d-flex align-items-center gap-3">
        <span class="leader-item-count">#2</span>
        <div class="leader-item-img">
          <img src="@img/leader-person.png" alt="image">
        </div>
        <span class="fz-14">Имя подлиннее с какой-то фамилией</span>
      </div>
      <span class="leader-item-price">300000000</span>
    </div>

    <div class="d-flex align-items-center justify-content-between gap-3 leader-item">
      <div class="d-flex align-items-center gap-3">
        <span class="leader-item-count">#3</span>
        <div class="leader-item-img">
          <img src="@img/leader-person.png" alt="image">
        </div>
        <span class="fz-14">name</span>
      </div>
      <span class="leader-item-price">30000</span>
    </div>

    <div class="d-flex align-items-center justify-content-between gap-3 leader-item">
      <div class="d-flex align-items-center gap-3">
        <span class="leader-item-count">#1</span>
        <div class="leader-item-img">
          <img src="@img/leader-person.png" alt="image">
        </div>
        <span class="fz-14">name</span>
      </div>
      <span class="leader-item-price">30000000</span>
    </div>

    <div class="d-flex align-items-center justify-content-between gap-3 leader-item">
      <div class="d-flex align-items-center gap-3">
        <span class="leader-item-count">#2</span>
        <div class="leader-item-img">
          <img src="@img/leader-person.png" alt="image">
        </div>
        <span class="fz-14">Имя подлиннее с какой-то фамилией</span>
      </div>
      <span class="leader-item-price">300000000</span>
    </div>

    <div class="d-flex align-items-center justify-content-between gap-3 leader-item">
      <div class="d-flex align-items-center gap-3">
        <span class="leader-item-count">#3</span>
        <div class="leader-item-img">
          <img src="@img/leader-person.png" alt="image">
        </div>
        <span class="fz-14">name</span>
      </div>
      <span class="leader-item-price">30000</span>
    </div>

  </div>
</section>