<section class="tasks">
  <div class="container mb-4">
    <div class="d-flex gap-2 align-items-center mt-4 mb-3">
      <div class="leader-icon">
        <img src="@img/tasks.svg" alt="icon">
      </div>
      <h1 class="title-2 fw-semibold mb-0 mt-0">Задания</h1>
    </div>

    <span class="color-neutral-300 fz-14">Текст про то, что их надо выполнять</span>
  </div>

  <div class="container">

    <div class="tasks-item tasks-item--bg-gray">
      <div class="tasks-item-left">
        <div class="tasks-item-img">
          <img src="@img/tg.svg" alt="image">
        </div>
        <div class="d-flex flex-column gap-1">
          <span class="fz-12 fw-medium">Подписаться в Телеграм</span>
          <div class="d-flex gap-1 align-items-center">
            <span>+100</span>
            <div class="tasks-item-stars">
              <img src="@img/star.svg" alt="icon">
            </div>
          </div>
        </div>
      </div>
      <button class="tasks-item-btn tasks-item-btn--success">
        <img src="@img/arrow-blue.svg" alt="icon">
      </button>
    </div><!-- /tasks-item -->

    <div class="tasks-item tasks-item--bg">
      <div class="tasks-item-left">
        <div class="tasks-item-img">
          <img src="@img/tg.svg" alt="image">
        </div>
        <div class="d-flex flex-column gap-1">
          <span class="fz-12 fw-medium">Подписаться в Телеграм</span>
          <div class="d-flex gap-1 align-items-center">
            <span>+100</span>
            <div class="tasks-item-stars">
              <img src="@img/star.svg" alt="icon">
            </div>
          </div>
        </div>
      </div>
      <button class="tasks-item-btn tasks-item-btn--blue">
        Старт
      </button>
    </div><!-- /tasks-item -->

    <div class="tasks-item">
      <div class="tasks-item-left">
        <div class="tasks-item-img">
          <img src="@img/tg.svg" alt="image">
        </div>
        <div class="d-flex flex-column gap-1">
          <span class="fz-12 fw-medium">Подписаться в Телеграм</span>
          <div class="d-flex gap-1 align-items-center">
            <span>+100</span>
            <div class="tasks-item-stars">
              <img src="@img/star.svg" alt="icon">
            </div>
          </div>
        </div>
      </div>
      <button class="tasks-item-btn">
        Собрать
      </button>
    </div><!-- /tasks-item -->

    <div class="tasks-item">
      <div class="tasks-item-left">
        <div class="tasks-item-img">
          <img src="@img/tg.svg" alt="image">
        </div>
        <div class="d-flex flex-column gap-1">
          <span class="fz-12 fw-medium">Подписаться в Телеграм</span>
          <div class="d-flex gap-1 align-items-center">
            <span>+100</span>
            <div class="tasks-item-stars">
              <img src="@img/star.svg" alt="icon">
            </div>
          </div>
        </div>
      </div>
      <button class="tasks-item-btn">
        Собрать
      </button>
    </div><!-- /tasks-item -->

    <div class="tasks-item">
      <div class="tasks-item-left">
        <div class="tasks-item-img">
          <img src="@img/tg.svg" alt="image">
        </div>
        <div class="d-flex flex-column gap-1">
          <span class="fz-12 fw-medium">Подписаться в Телеграм</span>
          <div class="d-flex gap-1 align-items-center">
            <span>+100</span>
            <div class="tasks-item-stars">
              <img src="@img/star.svg" alt="icon">
            </div>
          </div>
        </div>
      </div>
      <button class="tasks-item-btn">
        Собрать
      </button>
    </div><!-- /tasks-item -->


  </div>
</section>